




/* .nav .ul {
    display: flex;
    justify-content: center;
    align-items: center;
 
} */


.nav .ul .li {
    list-style: none;
    text-align: center;
}

.nav .ul .li a {
    position: relative;
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
    color: white;
}



.nav .ul .li a.active {
    background-color: rgb(243, 240, 240);
    color: black;
    border: 1px solid black;
}






.scrollable-container {
    max-height: 200px;
    
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
